@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    background-image: url(https://i.redd.it/g38817mqb1361.png);
    background-color: linear-gradient(180deg, rgb(0, 136, 154), rgb(0, 40, 87));
    background-position: center;
    background-size: 100%;
    background-repeat: none;
}

:root {
    --cor-primaria: #0F74BC;
    --cor-secundaria: #0C609C;
    --cor-terciaria: #0A5388;
    --cor-background: #FFF;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}